.head_movie {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.title_movie {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}

.title_movie span {
  font-weight: bold;
  color: rgb(99, 99, 99);
}
