$size: 2.5rem;
@mixin button($color: green, $colorBorder: green, $box: false, $hover: false) {
  @if ($box) {
    width: $size;
    height: $size;
  } @else {
    width: 7rem;
    height: 2.5rem;
  }
  @if ($hover) {
    border: 1px $colorBorder solid;
  } @else {
    border: none;
  }

  padding: 1rem;
  border-radius: 5px;

  background-color: $color;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}

.btn {
  &-green {
    @include button(green);

    &:hover {
      @include button(transparent, green, false, true);
    }
  }
  &-red {
    @include button(red);
    &:hover {
      @include button(transparent, red, false, true);
    }
  }

  &-box-green {
    @include button(green, $box: true);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    &:hover {
      @include button(transparent, green, true, true);
    }
  }
  &-box-red {
    @include button(red, $box: true);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    &:hover {
      @include button(transparent, $colorBorder: red, $box: true, $hover: true);
    }
  }
}
