.card {
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.poster {
  height: 250px;
  width: auto;
  display: block;
  object-fit: cover;
}

.title {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 1rem;
  text-align: start;
}

.title h3 {
  font-size: 0.9rem;
}

.title span {
  font-size: 0.8rem;
  color: rgb(99, 99, 99);
}
