@use "../../assets/components/container" as c;

.header {
  background-color: #252525;
  padding: 1rem 0;

  &__inner {
    @extend .container;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .input_movie {
      min-width: 200px;
    }

    .filters_wrapper {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      .filters {
        display: flex;
        gap: 0.5rem;
        flex-wrap: nowrap;
      }
    }
  }

  @media (max-width: 900px) {
    &__search {
      flex-direction: column;
      align-items: stretch;

      .filters_wrapper {
        justify-content: center;
      }
    }
  }
}
