// Подключение модулей
@use "./components/container";
@use "./components/header";
@use "./components/buttons";
@use "./components/block";
@use "./components/normolize";
@use "./components/image";
@use "./components/inputs";
@use "./components/card";

// Базовые стили
body {
  font-family: sans-serif;
  background-color: #252525;
  color: white;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-content {
  flex: 1;
  width: 100%;
}

.movie-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;

  img {
    width: 15rem;
  }
}
@media (max-width: 992px) {
  .movie-list {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 600px) {
  .movie-list {
    grid-template-columns: auto;
  }
}
